.wrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.bottom {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
}

.header-column__addon {
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
