.wrapper {
  text-align: center;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.main-head {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.main-head__action {
  display: flex;
  gap: 0.4rem;
}
